header {background-color:#9CD3D3;
       text-color:#1A181B;
       border: 3px solid #564D65;
	font-family:Optima;
      margin-right: 15%;
      margin-left: 15%;
      align-items:center;
      justify-content:center
        }
header li{
    float:left
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li a {
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header li a:hover{
    background-color: #4CA9A9;
}
header li a:link, a:visited, a:hover, a:active {
	color:#564D65;
}



body {background-color:#F3EFE0;
      text-color:#1A181B;
      font-family:Optima;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 10%;
      margin-left: 10%;}


div [name="left"]{
    width: 50%;
    display:flex;
    border: 5px solid left;
}

div [name="right"] {
    width: 50%;
    margin-left: 50%;
    display:flex;
    border: 5px solid right;
}

footer{background-color:#9CD3D3;
       text-color:#1A181B;
       border: 3px solid #564D65;
	font-family:Optima;
      margin-right: 20%;
      margin-left: 20%;
      align-items:center;
      justify-content:center;}
footer li{
    float:left
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li a {
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer li a:hover{
    background-color: #4CA9A9;
}
footer li a:link, a:visited, a:hover, a:active {
	color:#564D65;
}
