header {background-color:blue;
        text-color:white;
        }
body {background-color:#F3EFE0;
      text-color:black;
      font-family: Optima;}
footer{background-color:white;
       text-color:red;}