header {background-color:#9CD3D3;
       text-color:#1A181B;
       border: 3px solid #564D65;
	font-family:Optima;
        }
body {background-color:#F3EFE0;
      text-color:#1A181B;
      font-family:Optima;}
footer{background-color:#9CD3D3;
       text-color:#1A181B;
       border: 3px solid #564D65;
	font-family:Optima;}